body {
  background: #1F98C7; }

.card {
  width: 300px;
  font-family: Helvetica, arial, sans-serif;
  padding: 5px;
  padding-bottom: 12px;
  border: 1px solid #999;
  background: white;
  border-radius: 10px; }
  .card.loading {
    text-align: center; }

.photo {
  margin-bottom: 6px;
  width: 300px; }
  .photo img {
    max-width: 100%;
    border-radius: 10px; }

.bio, .updates {
  margin: 0 12px 18px 12px; }

.bio h1, .bio h2 {
  margin: 0;
  font-size: 22px; }

.bio h2 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 3px;
  color: #8899a6; }

.bio p {
  display: inline;
  font-size: 12px;
  color: #292f33;
  line-height: 20px; }

.updates > ul {
  padding-left: 0; }
  .updates > ul > li {
    list-style: none; }

.updates .update {
  margin-bottom: 8px;
  line-height: 1.3;
  padding-left: 5px; }
  .updates .update.facebook {
    border-left: 2px solid #3b5998; }
  .updates .update.twitter {
    border-left: 2px solid #00aced; }
